#btn {
    margin-left: 65%;
}

#navbarDropdown {
    font-size: 16.5px;
    font-weight: bolder;
}

#input {
    width: 150px;
    height: 20px;
}

#footer {
    padding-top: 50px;
    background-color: rgba(68, 34, 34, 0.822);
    font-size: 10px;
    color: white;
}